.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
  border-bottom: 2px solid #e9ecef; /* Subtle border color */
  z-index: 10;
  margin-top: 200px;
}

.logout-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dashboard-hero {
  padding: 20px;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-table th,
.ticket-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.ticket-table th {
  background-color: #f4f4f4;
}

.search-input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.upcoming-events h2 a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.upcoming-events h2 a:hover {
  text-decoration: underline;
}
