.dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.events-list {
    display: flex;
    flex-wrap: wrap; /* Allows the cards to wrap to the next line if there's not enough space */
    justify-content: center; /* Centers the cards horizontally */
    gap: 20px; /* Adds space between the cards */
}

.event-card {
    width: 300px; /* Set a fixed width for the event cards */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.event-details {
    margin-top: 10px;
}

.event-details h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.event-details p {
    margin: 5px 0;
    color: #555;
}

.table-header {
    background-color: blue;
    color: black;
}