.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.256);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: #e8e7ecc1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    text-align: center;
    border: 5px solid #6395a09d;
  }
  
  .ticket-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .ticket-option {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ticket-option.active {
    background-color: #9994B4;
    color: white;
  }
  
  .ticket-option:hover {
    background-color: #9994B4;
    color: white;
  }
  
  .ticket-details {
    margin-bottom: 20px;
  }
  
  .close-button {
    padding: 10px 20px;
    background-color: #ea9074ac;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: #EA8F74;
  }
  